extends layout

block content
    h1 Become Member Form 

    if user
        p=user.username  
        p=user.member
        p=user.admin

        form(method="POST" action="")
            div.form-group
                label(for='membershipCode') Membership Code:
                input#membershipCode.form-control(type='text' name='membershipCode' value='' )
        
            button.btn.btn-primary(type='submit') Submit
        if errors 
            ul 
                for error in errors
                    li!= error.msg
    else 
        p Not logged in