doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
  body
    if user 
      div(class="navbar")
        a(href="/" class="homeLink") Members Only 
        div(class="rightNavbar")          
          a(href="/message") Create Message          
          a(href="/become-member") Member         
          a(href="/become-admin") Admin         
          a(href="/log-out") Log Out
          
    else 
      div(class="navbar")
        a(href="/" class="homeLink") Members Only 
        div(class="rightNavbar")       
          a(href="/log-in") Log In         
          a(href="/sign-up") Sign Up
    block content
