extends layout

block content
    h1 New Message Form 

    if user
        p=user.username 
        p=user.member
        p=user.admin

        form(method="POST" action="")    
            div.form-group
                label(for="title") Title: 
                input#title.form-control(type="text", placeholder="Title" name="title" value="")
                label(for="message") Message:  
                input#message.form-control(type="text", placeholder="Message" name="message" value="")

            button(type="submit") Submit
        
    else 
        p Please log in to write a message
    