extends layout

block content
    h1 Sign Up Form 

    form(method="POST" action="")
        div.form-group
            label(for='username') Username:
            input#username.form-control(type='text' name='username' value='' )
            label(for='password') Password:
            input#password.form-control(type='password' name='password' value='')
            label(for='confirmpassword') Confirm Password:
            input#confirmpassword.form-control(type='password' name='confirmpassword' value='')
        
        button.btn.btn-primary(type='submit') Submit

    