extends layout

block content
    h1 Sign Up Form 

    form(method="POST" action="")
        div.form-group
            label(for='first_name') First Name:
            input#first_name.form-control(type='text' placeholder='First name (Christian)' name='first_name' required='true' value=(undefined===user ? '' : user.first_name) )
            label(for='last_name') Last Name:
            input#last_name.form-control(type='text' placeholder='Last name (Surname)' name='last_name' required='true' value=(undefined===user ? '' : user.last_name))
        div.form-group
            label(for='username') Username:
            input#username.form-control(type='text' name='username' value=(undefined===user ? '' : user.username) )
            label(for='password') Password:
            input#password.form-control(type='password' name='password' value=(undefined===user ? '' : user.password))
        
        button.btn.btn-primary(type='submit') Submit

    