extends layout

block content
    h1 Sign Up Form 

    form(method="POST" action="")
        div.form-group
            label(for='username') Username:
            input#username.form-control(type='text' name='username' value=(undefined===user ? '' : user.username) )
            label(for='password') Password:
            input#password.form-control(type='password' name='password' value=(undefined===user ? '' : user.password))
            label(for='confirm-password') Confirm Password:
            input#confirm-password.form-control(type='password' name='confirm-password' value=(undefined===user ? '' : user.confirm-password))
        
        button.btn.btn-primary(type='submit') Submit

    