* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 39, 42);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.homeLink {
  font-size: 1.875rem;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  transform: scale(1.1);
  color: rgb(165 243 252);
}

.rightNavbar {
  display: flex;
}

.rightNavbar a {
  margin-left: 1.25rem;
}

.messageFormHeader {
  font-size: 1.25rem;
  text-align: center;
}

.form-group {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
}

.submitButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  text-align: center;
  background-color: rgb(229 231 235);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
}

.submitButton:hover {
  box-shadow: 0 10px 15px -3px rgb(100 116 139 / 0.1);
  transform: scale(1.1);
}

.formInput {
  box-shadow: 0 10px 15px -3px rgb(100 116 139 / 0.1);
  border-width: 1px;
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

textarea {
  resize: none;
  width: 50%;
  height: 5rem;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .rightNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rightNavbar a {
    margin-left: 0;
  }

  .messageFormHeader {
    font-size: 1.25rem;
    text-align: center;
  }

  .formInput {
    width: 50%;
  }

  textarea {
    resize: none;
    width: 50%;
    max-height: 300px;
  }
}
