* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("../images/background.png");
  background-size: cover;
  background-position: center;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 39, 42);
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.homeLink {
  font-size: 1.875rem;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  transform: scale(1.1);
  color: rgb(103 232 249);
}

.rightNavbar {
  display: flex;
}

.rightNavbar a {
  margin-left: 1.25rem;
}

.pageHeader {
  font-size: 1.5rem;
  text-align: center;
}

.logInMessage {
  font-size: 1.125rem;
  text-align: center;
}

.form-group {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  text-align: center;
  background-color: rgb(103 232 249);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
}

button:hover {
  box-shadow: 0 10px 15px -3px rgb(219 39 119 / 0.8);
  transform: scale(1.1);
}

.formInput {
  box-shadow: 0 10px 15px -3px rgb(100 116 139 / 0.1);
  border-width: 1px;
  border-radius: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

textarea {
  resize: none;
  width: 50%;
  height: 5rem;
}

.messageBox {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  background-color: rgb(192 38 211);
  width: 40%;
}

.messageBox p {
  margin-top: 0.5rem;
}

.messagesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageTitle {
  display: flex;
  justify-content: flex-start;
  text-decoration-line: underline;
  text-decoration-color: rgb(103 232 249);
  font-size: 1.25rem;
}

.deleteMessageTitle {
  display: flex;
  justify-content: space-between;
  text-decoration-line: underline;
  text-decoration-color: rgb(103 232 249);
  font-size: 1.25rem;
}

.messageBody {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.authorDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .rightNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rightNavbar a {
    margin-left: 0;
  }

  .messageFormHeader {
    font-size: 1.25rem;
    text-align: center;
  }

  .formInput {
    width: 50%;
  }

  textarea {
    resize: none;
    width: 50%;
    max-height: 300px;
  }
}
